@charset "UTF-8";
html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  /* max-width: 1600px; */
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.list {
  list-style: none;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__logo {
  width: 145px;
  height: 31px;
  color: #000000;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.header__studio {
  color: #2196f3;
}

.header__container {
  display: flex;
  align-items: flex-start;
  align-items: center;
}

.navigation__list {
  display: flex;
  max-width: 294px;
}

.navigation__link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation__link_special {
  color: #2196f3;
}

.navigation__link:hover,
.navigation__link:focus {
  color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: -0.3px;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  transform: scaleX(0);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:hover::after,
.navigation__link:focus::after {
  transform: scaleX(1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link_special::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: -0.3px;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  transform: scaleX(1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.auth-nav__item {
  color: #757575;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.auth-nav__item:hover,
.auth-nav__item:focus {
  color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-nav__item_tel {
  margin-left: 50px;
}

.auth-nav__icon {
  margin-right: 10px;
  fill: #757575;
}

.auth-nav__item:hover .auth-nav__icon {
  fill: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

& {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../img/icons/logo-min.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding-bottom: 200px;
  padding-top: 200px;
}

&__title {
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  /* text-align: center; */
  text-transform: uppercase;
  color: white;
  margin-bottom: 40px;
}

&__button {
  /* margin-left: auto;
  margin-right: auto; */
  display: inline-block;
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  /* display: flex;
  align-items: center; */
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

& {
  padding-top: 94px;
  padding-bottom: 47px;
}

&__list {
  display: flex;
  justify-content: space-between;
}

&__item {
  width: 270px;
  display: flex;
  flex-direction: column;
}

&__item:not(:last-child) {
  margin-right: 30px;
}

&__title {
  margin-bottom: 50px;
  color: #212121;
}

&__info {
  color: #757575;
}

&__title {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

&__info {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
}

&__svg {
  height: 120px;
  width: 270px;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
}

& {
  padding-top: 47px;
  padding-bottom: 94px;
}

&__title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: #212121;
}

&__list {
  display: flex;
  justify-content: center;
  font-size: 0;
}

&__item {
  display: block;
  width: 370px;
  position: relative;
}

&__item:not(:last-child) {
  margin-right: 30px;
}

&__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
}

&__overlay-title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

&__title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: #212121;
}

&__section-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

&__section-info {
  text-align: center;
  margin-bottom: 16px;
}

& {
  background: #f5f4fa;
  padding-bottom: 94px;
  padding-top: 94px;
}

&__img {
  margin-bottom: 30px;
}

&__list {
  display: flex;
  justify-content: center;
}

&__item {
  display: block;
  width: 370px;
  /* height: 368px; */
  background: #ffffff;
  /* material shadow v1 */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
}

&__item:not(:last-child) {
  margin-right: 30px;
}

&__social-list {
  display: flex;
  justify-content: center;
}

&__social-link {
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

&__social-item:not(:last-child) {
  margin-right: 10px;
}

&__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

&__social-link:hover,
&__social-link:focus {
  background-color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__social-link:hover &__icon,
&__social-link:focus &__icon {
  fill: white;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients {
  padding-bottom: 94px;
  padding-top: 94px;
}

.clients__title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.clients__list {
  display: flex;
  justify-content: space-between;
}

.clients__item {
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients__item:hover,
.clients__item:focus {
  border-color: #2196f3;
}

.clients__icon {
  fill: #afb1b8;
}

.clients__item:hover .clients__icon,
.clients__item:focus .clients__icon {
  fill: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background: #2f303a;
  padding: 60px;
  padding-top: 60px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer__title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: white;
  margin-bottom: 20px;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
}

.footer-contacts__webstudio {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
  margin-bottom: 20px;
}

.footer-contacts__logo {
  color: #ffffff;
}

.footer-contacts__street {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: white;
  margin-bottom: 9px;
}

.footer-contacts__info {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  text-decoration: none;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts__mail {
  display: inline-block;
  margin-bottom: 9px;
}

.footer-contacts__adress {
  display: flex;
  flex-direction: column;
}

.footer-join {
  width: 206px;
}

.footer-join__list {
  display: flex;
  justify-content: space-between;
}

.footer-join__link {
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-join__link:hover,
.footer-join__link:hover {
  background-color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-join__icon {
  fill: #ffffff;
  width: 20px;
  height: 20px;
}

.footer-subscribe__form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-subscribe__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: transparent;
  padding-left: 16px;
  color: white;
}

.footer-subscribe__btn {
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2196f3;
  border: none;
  margin-left: 12px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-subscribe__icon {
  fill: #ffffff;
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: all 1000ms linear;
}

& {
  width: 528px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}

&__close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  cursor: pointer;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

&__close:hover,
&__close:focus {
  fill: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* СЕКЦІЯ КНОПКИ */
&__form-field {
  position: relative;
  margin-bottom: 28px;
  width: 448px;
}

&__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

&__input {
  width: 100%;
  height: 40px;
  left: 576px;
  top: 382px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
}

&__input:focus,
&__input:hover,
&__textarea:focus,
&__textarea:hover {
  outline: none;
  border-color: #2196f3;
}

&__input:hover + &__icon,
&__input:focus + &__icon {
  fill: #2196f3;
}

&__textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
}

&__icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

&__label {
  position: absolute;
  top: -18px;
  left: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

&__title {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

&__label-policy {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  padding-bottom: 30px;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: center;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

&__label-policy::before {
  content: "";
  display: block;
  height: 15px;
  width: 16px;
  border: 1px solid black;
  margin-right: 8px;
}

&__checkbox:checked + &__label-policy::before {
  background-image: url("../img/icon/check.svg");
  border: none;
}

&__btn {
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  border: none;
  color: #ffffff;
}

&__policy-field {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

&__btn:focus {
  background-color: #188ce8;
}

&__icon {
  padding: 6px 22px;
  background: #f5f4fa;
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  color: #212121;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
}

&__icon:hover,
&__icon:focus {
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: white;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

& {
  padding-top: 94px;
  padding-bottom: 94px;
}

&__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

&__item:not(:last-child) {
  margin-right: 8px;
}

&__title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */
  color: #212121;
  letter-spacing: 0.06em;
}

&__info {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */
  color: #757575;
  letter-spacing: 0.03em;
}

&__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

&__item {
  display: block;
  width: 370px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

&__item:hover,
&__item:focus {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

&__item:not(:nth-child(n + 7)) {
  margin-bottom: 30px;
}

&__container {
  margin: 0 24px;
  padding-bottom: 20px;
  padding-top: 20px;
}

&__overlay {
  position: relative;
  overflow: hidden;
}

&__paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms ease;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
}

&__item:hover &__paragraph,
&__item:focus &__paragraph {
  transform: translateY(0);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*# sourceMappingURL=main.css.map */
