.header {
  border-bottom: 1px solid #ececec;

  &__logo {
    width: 145px;
    height: 31px;
    color: #000000;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    letter-spacing: 0.03em;
    margin-right: 93px;
  }

  &__studio {
    color: #2196f3;
  }

  &__container {
    display: flex;
    align-items: flex-start;
    align-items: center;
  }
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-button .icon-close {
  display: none;
}

.menu-button.is-open .icon-close {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 60px auto;
}
