/* Секция-герой */
.hero {
  width: 100%;
  padding-top: 118px;
  padding-bottom: 118px;

  background-color: #c4c4c4;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.5),
      rgba(47, 48, 58, 0.5)
    ),
    url("./img/hero/mhero.jpg");
  background-size: cover;
  background-position: center;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    & {
      background-image: url("./img/hero/mhero@2x.jpg");
    }
  }

  @media screen and (min-width: 481px) and (max-width: 768px) {
    & {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.5),
          rgba(47, 48, 58, 0.5)
        ),
        url("./img/hero/thero.jpg");
      background-size: cover;
      background-position: center;
    }
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    & {
      background-image: url("./img/hero/thero@2x.jpg");
    }
  }

  @media screen and (min-width: 769px) {
    padding-top: 200px;
    padding-bottom: 200px;
    & {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.5),
          rgba(47, 48, 58, 0.5)
        ),
        url("./img/hero/dhero.jpg");
      background-size: cover;
      background-position: center;
    }
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    & {
      background-image: url("./img/hero/dhero@2x.jpg");
    }
  }

  &__content {
    margin-left: auto;
    margin-right: auto;
    padding: 0;

    text-align: center;

    @media screen and (min-width: 480px) and (max-width: 1199px) {
      &__content {
        width: 360px;
      }
    }

    @media screen and (min-width: 1200px) {
      &__content {
        width: 696px;
      }
    }
  }

  &__title {
    margin-top: 0px;
    margin-bottom: 30px;

    color: $secondary-text-color;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and (max-width: 1199px) {
      &__title {
        font-size: 26px;
        line-height: 1.61;
      }
    }
  }

  &__button {
    display: inline-block;
    min-width: 200px;
    height: 50px;
    padding: 10px 32px;

    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    text-align: center;
    letter-spacing: 0.06em;
    color: $white-color;
    background: $text-hover-focus;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
}
