.qualities {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    & {
      padding-top: 94px;
      padding-bottom: 47px;
    }
  }

  &__list {
    display: block;
    margin: 0 auto;
  }

  @media screen and (min-width: 768px) {
    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  @media screen and (min-width: 1200px) {
    &__list {
      display: flex;
      justify-content: space-between;
    }
  }

  &__item {
    display: block;
    width: 100%;
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    &__item:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    &__item {
      width: 354px;
    }

    &__item:nth-child(-n + 2) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 1200px) {
    &__item {
      width: 270px;
      display: flex;
      flex-direction: column;
      margin-bottom: 0;
    }

    &__item:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__title {
    margin-bottom: 10px;
    color: $title-text-color;
    text-align: center;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  @media screen and (min-width: 768px) {
    &__title {
      text-align: start;
    }
  }

  &__info {
    color: $primary-text-color;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    letter-spacing: 0.03em;
  }

  &__svg {
    height: 120px;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(245, 244, 250, 1);
  }

  @media screen and (min-width: 768px) {
    &__svg {
      width: 354px;
    }
  }

  @media screen and (min-width: 1200px) {
    &__svg {
      width: 270px;
    }
  }
}
